@charset "UTF-8";

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  /* background: url("/src/wooden-table-with-blurred-background.jpg") no-repeat bottom center, linear-gradient(to top, #000 25%, transparent); */
  background: #111827;
  min-height: 100vh;
  /* height: 9000px; */
}

#navBar {
  transition: background-color 0.3s ease-in-out;
  height: 100px;
}

#navBar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #121212;
  z-index: 1;
}

#front {
    background-image: url(../img/layered-waves-haikei\ \(3\).svg);
    background-size: cover;
    background-position: bottom center;
}

#bookContainer{
  cursor: pointer;
}

input[type = checkbox] {
  accent-color: black;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color:#3d4d64;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #2e3a4e;
  transition-duration: .3s;
}

.svg {
  width: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

